@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/RalewayRegular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/RalewayBold.ttf");
}

html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

.conteneur {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Menu header */

.navbar {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0065fc;
}
.navbar .logo img {
  height: 40px;
}
.navbar .inscription {
  color: #0065fc;
}

.phone-menu {
  display: none;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
  font-weight: 700;
  color: black;
  padding: 20px 30px;
  position: relative;
}
.menu li::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  height: 2px;
  background: #0065fc;
  transition: all 0.5s ease-in-out;
}
.menu li:hover::before {
  left: 0;
  width: 100%;
}
.menu li:hover {
  font-weight: 700;
  color: #0065fc;
  border-color: #0065fc;
}
.menu li a {
  text-decoration: none;
  color: inherit;
}

/* Texte */

.recherche p {
  font-style: normal;  
}

.recherche em {
  display: block;
  font-style: normal;
  font-weight: 700;
}

/* Champs de recherche */

.research {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.research .prefix {
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f2f2f2;
}
.research input[type="text"] {
  width: 180px;
  height: 3em;
  font-family: "Raleway";
  font-weight: 700;
  border: #f2f2f2 solid 2px;
}
.research input[type="text"]:focus {
  font-weight: 700;
}
.research .boutton {
  color: white;
  font-weight: 700;
  font-family: "Raleway";
  background-color: #0065fc;
  padding: 10px;
  position: initial;
  border: 2px solid #0065fc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.research .boutton i {
  display: none;
}

/* Filtres */

.filtres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 10px;
  font-weight: 700;
  padding: 0 0 10px 0;
}
.filtre {
  display: inline-block;
  border: #f2f2f2 solid 2px;
  border-radius: 40px;
  padding-right: 15px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  transition: background-color 1s ease-in-out;
}
.filtre i {
  width: 2em;
  height: 2em;
  line-height: 2em;
  margin-right: 10px;
  text-align: center;
  color: #0065fc;
  background-color: #deebff;
  border: solid 1px #deebff;
  border-radius: 100px;
}
.filtre > span {
  position: relative;
}
.filtre::before {
  content: "";
  background-color: #deebff;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: all 1s ease-in-out;
}
.filtre:hover {
  font-weight: 700;
  background-color: #ffffff;
}
.filtre:hover::before {
  width: 100%;
}
.fas.fa-info {
  color: #0065fc;
  border: #f2f2f2 solid 2px;
  border-radius: 100px;
  padding: 5px 10px;
}
.info {
  font-size: small;
  padding: 5px 0 20px 0;
}

.hebergement-populaire {
  display: flex;
  gap: 20px;
}

/* Hébergements */

.hebergements {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  width: 70%;
}

.hebergements .cards {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.card {
  background-color: white;
  flex-basis: calc(33.33% - 14px);
  border-radius: 20px;
  padding: 5px;
  color: #000;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
a.card {
  text-decoration: inherit;
  border: 1px solid transparent;
}
a.card:hover {
  border: 1px solid #000;
}

.card .image {
  border-top-left-radius: 15px; /* border-radius - padding .card */
  border-top-right-radius: 15px;
  overflow: hidden;
}

.hebergements #h1 {
  padding: 0 0 0 20px;
}

.card .image img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.card .contenu {
  text-align: left;
  padding: 10px;
}
.contenu .titre {
  font-weight: 700;
}
.contenu .desc {
  font-size: small;
  padding: 5px 0;
}
.contenu .fas.fa-star {
  color: #0065fc;
  font-size: small;
  padding-right: 1px;
}
.contenu span .fas.fa-star {
  color: #deebff;
}

#cache {
  border: none;
  font-family: "Raleway";
  font-size: medium; /* Problème d'écriture avec "ff" */
  font-weight: 700;
  background-color: #f2f2f2;
  margin-top: 15px;
  cursor: pointer;
}

/* Populaires */

.populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 30px;
  width: 30%;
}

.populaires .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.populaires .card {
  height: 140px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  color: #000;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.populaires a.card {
  text-decoration: inherit;
  border: 1px solid transparent;
}
.populaires a.card:hover {
  border: 1px solid #000;
}
.populaires .card,
.image {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}

.populaires .image {
  flex: 0 0 33.33%;
}

.populaires .titre {
  display: flex;
  justify-content: space-between;
}

.fas.fa-chart-line {
  padding: 20px;
  line-height: 2em;
}

.populaires .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.populaires .contenu {
  text-align: left;
  padding: 10px;
}
.populaires .contenu .titre {
  font-weight: 700;
}
.populaires .contenu .desc {
  font-size: small;
  padding: 10px 0;
}
.populaires .contenu .fas.fa-star {
  color: #0065fc;
  font-size: small;
  padding-right: 1px;
}
.populaires .contenu span .fas.fa-star {
  color: #deebff;
}

/* Activités */

.activites .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(24, 15px);
  grid-auto-flow: column;
  padding-bottom: 50px;
  margin: -5px;
}
.activites .cards > * {
  grid-row: span 24;
  margin: 15px;
}

.activites .cards > *:nth-child(2) {
  grid-row: span 14;
}

.activites .cards > *:nth-child(3) {
  grid-row: span 10;
}

.activites .cards > *:nth-child(5) {
  grid-row: span 11;
}

.activites .cards > *:nth-child(6) {
  grid-row: span 13;
}

.activites .cards :nth-child(3n + 1) .image {
  flex: 0 0 85%;
}

.activites .card {
  background-color: white;
  border-radius: 20px;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.activites a.card {
  text-decoration: inherit;
  border: 1px solid transparent;
}

.activites a.card:hover {
  border: 1px solid #000;
}

.activites .card,
.image {
  overflow: hidden;
}
.activites #h3 {
  margin-left: 20px ;
}
.activites .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.activites .card .contenu {
  text-align: left;
  padding: 15px;
  font-weight: 700;
}

/* footer*/

footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}

.footer {
  display: flex;
  justify-content: flex-start;
  gap: 20%;
}

.footer ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

.footer li {
  padding: 5px;
}

/* Phone */

@media only screen and (max-width: 768px) {
  /* Menu */

  .navbar {
    flex-wrap: wrap;
    padding: 20px;
  }

  .phone-menu {
    display: block;
  }

  .phone-menu .inscription {
    text-decoration: none;
  }

  .menu-wrapper {
    min-width: 100%;
  }
  .menu {
    margin: 0 -20px;
    display: flex;
  }
  .menu .inscription {
    display: none;
  }
  .menu li {
    flex-grow: 1;
    text-align: center;
    font-weight: 500;
    border: none;
    border-bottom: 2px solid #f2f2f2;
  }
  .menu li:hover {
    font-weight: 500;
  }

  /* Recherche */

  .research {
    padding: 20px;
  }

  .research .boutton {
    border-radius: 10px;
    position: absolute;
    left: 230px;
  }

  .research .boutton span {
    display: none;
  }
  .research .boutton i {
    display: inline;
  }

  p,
  em {
    display: flex;
    flex-direction: column;
  }
  p {
    padding: 0 20px;
  }

  /* Filtres */

  .filtres {
    padding: 0 20px;
  }

  .filtres-titre {
    width: 100%;
  }
  /* Infos */

  .info {
    display: flex;
    align-items: baseline;
    padding: 0 20px 20px 10px;
  }

  .fas.fa-info {
    margin: 10px;
  }

  .hebergement-populaire {
    flex-direction: column-reverse;
    align-items: center;
  }

  /* Hébergements */

  .conteneur {
    padding: 0;
  }

  .hebergements {
    background-color: white;
    width: 100%;
    padding: 0;
  }

  .hebergements .cards .card {
    flex-basis: 100%;
  }

  .hebergements .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #cache {
    padding: 10px 0 0 0;
    background-color: white;
  }

  /* Populaires */

  .populaires {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 20px;
  }

  .populaires .cards .card {
    flex-basis: 100%;
  }

  .populaires .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Activités */

  .activites {
    padding: 0px 15px;
    margin: -5px;
  }

  .activites .cards .card {
    flex-basis: 100%;
  }

  .activites .cards {
    display: flex;
    flex-direction: column;
  }

  .activites #Activites {
    margin-left: 10px;
  }

  .image img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  /* Footer */

  .footer {
    flex-direction: column;
    padding: 20px;
  }
  .footer section {
    padding-top: 10px;
  }
}
